* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.arrow__left {
    position: absolute;
    top: 3%;
    left: 30px;
    font-size: 30px;
    z-index: 10;

    transition: all ease-in-out 0.5s;
}
.arrow__left:hover {
    transform: translateX(-8px);
}
.arrow__left a {
    color: var(--white-color);
    text-decoration: none;
}

h1 {
    font-size: 8rem;
    letter-spacing: 3px;
    font-weight: lighter;
}

.header-general {
    display: flex;
    justify-content: center;
    align-items: center;
}